.form-control {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 0;
}

.form-control__group {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-control__group label {
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 0.4rem;
}

.form-control__group input[type='text'],
.form-control__group input[type='number'] {
  height: 2.4rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
  outline: none;
  border-color: #333;
  border-width: 1px;
  transition: all 0.2s;
}

.form-control__group input[type='text']:hover,
.form-control__group input[type='text']:visited,
.form-control__group input[type='number']:hover,
.form-control__group input[type='number']:visited {
  outline: none;
  border-color: #350535;
  border-width: 2px;
}

.form-control__group input[type='text']:active {
  outline: none;
  border-color: #350535;
}

.form-control__btn button {
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #350535;
  font-size: 1.6rem;
  margin-top: 0.8rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
}

.form-control__btn button:hover,
.form-control__btn button:visited {
  background-color: #530853;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
