:root {
  --color-primary: #8a2b06;
  --color-primary-lighter: #b94517;
  --color-primary-light-1: rgba(137, 43, 6, 0.2);
  --color-primary-light-2: rgba(137, 43, 6, 0.6);
  --color-primary-dark: #4d1601;
  --color-successful: #173506;
  --color-secondary: #06658a;
  --color-secondary-light: #e3edf2;
  --color-secondary-light-2: #c7dce5;
  --color-secondary-dark: #022735;
  --color-secondary-dark-1: #06658a;
}

.checkout {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
}

.checkout__header {
  padding: 2rem;
  z-index: 5;
}

.checkout__header h2 {
  display: inline-block;
  padding-bottom: 0.4rem;
  margin: 0;
  border-bottom: 0.1rem solid var(--color-primary-lighter);
}

.checkout__form {
  margin-top: -2rem;
  padding-top: 5.6rem;
  position: relative;
  z-index: 1;
}

.checkout__form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;

  padding: 1rem;
  padding-bottom: 2.6rem;
}

.checkout__form-group {
  display: flex;
  justify-content: space-between;
}

.checkout__form-group > :first-child {
  margin-right: 1rem;
}

.checkout__form-control {
  display: flex;
  justify-content: flex-start;
}

.checkout__info {
  margin: 1.6rem 0;
  background-color: var(--color-secondary-light-2);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  color: var(--color-secondary-dark-1);
  font-style: italic;
}

.checkout__info span {
  font-weight: 700;
  color: var(--color-secondary-dark);
}

.checkout__form-title h3 {
  font-weight: 700;
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-secondary-light);
  padding: 0.4rem 0;
  margin-bottom: 1.6rem;
}

.checkout__order-details {
  border: 2px solid var(--color-primary);
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
}

.checkout__order-details .checkout__form-title h3 {
  margin: 1rem;
}

.checkout__order-list {
  margin-bottom: 2rem;
}

.checkout__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.checkout__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 1rem;
}

.checkout__item div:last-of-type {
  justify-self: center;
  font-weight: 700;
}

.checkout__item--order {
  font-size: 0.8rem;
  color: var(--color-primary-dark);
  padding-top: 0.4rem;
  padding-bottom: 0.1rem;
}

.checkout__item--order:nth-of-type(2n) {
  border-bottom: 1px solid var(--color-primary-light-2);
  background-color: var(--color-primary-light-1);
}

.checkout__product-description {
  padding-bottom: 0.1rem;
  color: var(--color-secondary-dark);
}

.checkout__product-description span:last-child {
  font-weight: 700;
}

.checkout__item--header {
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 0.2rem;
  color: var(--color-secondary);
  font-weight: 400;
}

.checkout__item--header div:last-of-type {
  font-weight: 400;
}

.checkout__item--footer {
  display: block;
  margin-top: 1rem;
}

.checkout__item--footer p:last-child {
  margin-top: 1rem;
  font-weight: 700;
}

.checkout__item--footer p:last-child span:last-child {
  border-top: 1px solid var(--color-primary-light-1);
  border-bottom: 1px solid var(--color-primary-light-1);
  padding: 0.2rem 0.5rem;
  color: var(--color-primary-lighter);
}

.checkout__summaries {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  margin-bottom: 0.2rem;
}

.checkout__summaries span:last-of-type {
  color: var(--color-primary-dark);
  font-weight: 700;
  justify-self: center;
}

.checkout__form-action {
  padding: 0 1rem;
  display: flex;
}

.checkout__form-action button {
  flex: 1;
}

.checkout__terms {
  font-size: 0.8rem;
  text-align: center;
  border-top: 1px solid var(--color-secondary-light);
  padding-top: 1rem;
  color: var(--color-secondary-dark-1);
  font-style: italic;
}

.checkout__login {
  background-color: var(--color-secondary-light-2);
  color: var(--color-secondary-dark);
  padding: 0.6rem 1rem;
  display: flex;
  border-radius: 0.4rem;
  align-items: center;
  margin-bottom: 2rem;
}
.checkout__login p {
  margin: 0;
}

.checkout__login button {
  align-self: center;
  margin: 0 1rem;
}

.checkout__login button {
  background-color: var(--color-primary-lighter);
}

.checkout__login button:hover,
.checkout__login button:active {
  background-color: var(--color-primary);
}

.checkout__login-form {
  padding: 2rem 2rem 3.6rem;
  position: relative;
}

.checkout__login-form .checkout__form-action {
  padding: 0;
}

.btn__close-modal {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.4rem;
  color: var(--color-primary);

  position: absolute;
  top: 1rem;
  right: 2rem;

  cursor: pointer;
  transition: all 0.2s;
}

.btn__close-modal:hover,
.btn__close-modal:active {
  color: var(--color-primary-lighter);
}
